@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    div#slider figure img { height: 550px; width: 450px; float:left; }
    div#slider figure {
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    text-align: center;
    font-size: 0;
    animation: 10s slidy infinite;  
    }
    div#slider figure h1{
       background-color:brown;
      font-size:40px;
    }
    div#content figure img { width:20%; float:left; }
    div#content figure {
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    text-align: center;
    font-size: 0;
    animation: 10s slidy infinite;  
    }
    div#content figure a{
      font-size: 40px;
      padding: 10px 10px;
      border-radius: 70px;
      color:white;
      position:center;
    top:100%;
      background:rgb(8,8,8); 
      text-decoration: none;
    }
    div#content figure a:hover
    {
      background-color: rgb(238, 85, 85);
      color:blanchedalmond;
    }
    body{
    text-align: center;
    background: black;
    font-family: sans-serif;
    font-weight: 100;
    overflow: hidden;
    }
    
    #clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    position: absolute;
    top:30%;
    left: 20%;
    transform: translate(-50%, -50%);
    }
    
    #clockdiv > div{
    padding: 6px;
    border-radius: 3px;
    background: #737373;
    display: inline-block;
    }
    
    #clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #444141;
    display: inline-block;
    }
    
    .smalltext{
    padding-top: 5px;
    font-size: 16px;
    }